<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=localhost;Database=hackathon;Uid=portopdv;Pwd=pxoxrxtxoxpxdxvxpxoxrxtxoxsxoxfxt;Port=25178;Allow Zero Datetime=true;SslMode=none;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>